        <!-- Header de contenido -->
        <section class="content-header">
          <h1>
            Alta de cliente
          </h1>
        </section>

        <!-- Contenido -->
        <section class="content">
          <!-- Caja -->
          <div class="box box-danger">
            <!-- Overlay cargando -->
            <div class="overlay" ng-show="loading">
              <i class="fa fa-refresh fa-spin"></i>
            </div>

            <!-- Titulo -->
            <div class="box-header with-border">
              <h3 class="box-title">Datos de cliente</h3>
            </div>

                <!-- Formulario -->
                <form name="form">
                  <div class="box-body">
                    
                      <!-- Filas de dos campos -->
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="name">Nombre <small class="small-red">(requerido)</small></label>
                            <input type="text" class="form-control" id="name" name="name" ng-model="client.name"
                                      maxlength="20" ng-maxlength="20" ng-minlength="3" required>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="lastname">Apellido <small class="small-red">(requerido)</small></label>
                            <input type="text" class="form-control" id="lastname" name="lastname" ng-model="client.lastname" 
                                      maxlength="20" ng-maxlength="20" ng-minlength="3"required>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" id="address" name="address" 
                                          maxlength="30" ng-maxlength="30" ng-model="client.address">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="telephone1">Teléfono 1</label>
                            <input type="text" class="form-control" id="telephone1" name="telephone1"
                                    ng-model="client.telephone1" maxlength="15" ng-maxlength="15">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="telephone2">Teléfono 2</label>
                            <input type="text" class="form-control" id="telephone2" name="telephone2"
                                    ng-model="client.telephone2" maxlength="15" ng-maxlength="15">
                          </div>
                        </div>

                        
                      </div>

                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="user">Nombre de usuario <small class="small-red">(requerido)</small></label>
                            <input type="text" class="form-control" id="user" name="user"
                                    ng-model="client.user" maxlength="20" ng-maxlength="20" ng-minlength="3" required>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="ejemplo@dominio.com" 
                                    ng-model="client.email" maxlength="30" ng-maxlength="30">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="cuit">CUIT</label>
                            <input type="text" class="form-control" id="cuit" name="cuit" ng-model="client.cuit" placeholder="XX-XXXXXXXX-X"
                                maxlength="13" ng-maxlength="13">
                          </div>
                        </div>
                      </div>

                  </div>

                  <div class="box-footer" style="text-align:center;">
                    <button ng-click="add(0)" ng-disabled="form.$invalid" class="btn btn-success" style="margin: 2.5px 5px;">
                      Guardar cambios
                    </button>
                    <button ng-click="add(1)" ng-disabled="form.$invalid" class="btn btn-danger" style="margin: 2.5px 5px;">
                      Reestablecer campos
                    </button>
                  </div>
            </form>
          </div>

  <div class="callout callout-danger lead" ng-show="error">
    <h4>Error!</h4>
    <p style="font-size: 16px;" ng-repeat="er in errors">
        - {{er.error}} <br>
    </p>
  </div>

  <div class="callout callout-success lead" ng-show="success">
    <h4>Éxito!</h4>
    <p style="font-size: 16px;">
      Se ha agregado el cliente a la base de datos
    </p>
  </div>

          <!-- Vehiculos-->
          <div class="box box-danger">
            <!-- Overlay cargando. Sólo mostrar cuando loading = true -->
            <div class="overlay" ng-show="loading">
              <i class="fa fa-refresh fa-spin"></i>
            </div>

            <!-- Titulo -->
            <div class="box-header with-border">
              <h3 class="box-title">Vehículos</h3>

            <!-- Cuerpo de caja. Vehículos -->
            <div class="box-body table-responsive no-padding">      
              <table class="table table-hover">
                
                <!-- THEAD -->
                <tr>
                      <th style="width: 5%">#</th>
                      <th style="width: 20%">Marca</th>
                      <th style="width: 20%">Modelo</th>
                      <th style="width: 20%">Patente</th>
                      <th style="width: 35%">Acción</th>
                </tr>

                <!-- Repeat TR con clientes -->
                <tr ng-repeat="client in filteredClients = (clients | filter:filtro) track by $index" ng-show="!loading && !error">
                  <td>{{client.id}}</td>
                  <td>{{client.name}} {{client.lastname}}</td>
                  <td style="text-align: right;">
                    <a href="#vehiculo/ver/{{cliente.id}}" class="btn btn-sm btn-info">Ver</a>
                    <a href="#orden/nuevo/{{client.id}}" class="btn btn-sm btn-success">Agregar OT</a>
                  </td>
                  <td></td>
                  <td></td>
                </tr>

                <!-- Mensaje de no hay clientes. Mostrar si no hay clients o filteredClients, no está cargando y no hay error  -->
                <tr>
                  <td colspan="5" style="text-align: center" ng-show="(!clients.length || !filteredClients.length) && !loading && !error">
                      El cliente no tiene vehículos asignados
                  </td>
                </tr>

                <!-- Mensaje de error. Mostrar si hubo error y no está cargando -->
                <tr>
                  <td colspan="5" style="text-align: center;" ng-show="error && !loading">{{errorResponse}}</td>
                </tr>

              </table>
            </div>
          </div>

        </section><!-- /.content -->