        <!-- Main content -->
        <section class="content">
          <div class="error-page">
            <div class="error-content">
              <h3><i class="fa fa-warning text-red"></i> Error! Página no encontrada.</h3>
              <p>
                No pudimos encontrar la página que has solicitado.
                Puedes dirigirte al <a href="#/">inicio</a> o dirigirte a otra sección.
              </p>
            </div><!-- /.error-content -->
          </div><!-- /.error-page -->
        </section><!-- /.content -->