        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Buscar vehículos
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Default box -->
          <div class="box box-danger">
            
            <div class="box-header with-border">
              <h3 class="box-title">Búsqueda</h3>
            </div>
                  <div class="box-body">                    
                    <div class="input-group margin">
                      <input type="text" class="form-control" placeholder="Buscar por marca, modelo, patente y número de vehículo...">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-danger">Buscar!</button>
                      </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                  </div><!-- /.box-body -->
          </div><!-- /.box -->


          <!-- Default box -->
          <div class="box box-danger">
            <!-- Cargando
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            -->

            <div class="box-header with-border">
              <h3 class="box-title">Resultados</h3>
              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" ng-model="filtro" placeholder="Filtrar resultados">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div><!-- /.box-tools -->
            </div>
                  <div class="box-body table-responsive no-padding">      
                      <table class="table table-hover">
                    <tr>
                      <th style="width: 10%">#</th>
                      <th style="width: 15%">Marca</th>
                      <th style="width: 15%">Modelo</th>
                      <th style="width: 20%">Patente</th>
                      <th style="width: 40%">Cliente</th>
                    </tr>
                    <tr ng-repeat="cliente in filteredClientes = (clientes | filter:filtro) track by $index">
                      <td>{{cliente.id}}</td>
                      <td>{{cliente.name}}</td>
                      <td>{{cliente.lastname}}</td>
                      <td></td>
                      <td>{{cliente.name}} {{cliente.lastname}}</td>
                    </tr>
                  </table>
                  </div><!-- /.box-body -->
          </div><!-- /.box -->


        </section><!-- /.content -->