        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Alta de vehículo.
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Error cargando cliente -->
          <div class="callout callout-danger lead" ng-show="errorLoading">
            <h4>Error cargando el cliente!</h4>
            <p style="font-size: 16px;">
                - {{errorResponse}} <br>
            </p>
          </div>

          <!-- Cliente. Mostrar si no hubo error cargando -->
          <!-- Caja -->
          <div class="box box-danger" ng-show="!errorLoading">
            <!-- Overlay cargando -->
            <div class="overlay" ng-show="loading">
              <i class="fa fa-refresh fa-spin"></i>
            </div>

            <!-- Titulo -->
            <div class="box-header with-border">
              <h3 class="box-title">Cliente seleccionado: #{{client.id}}</h3>
            </div>

                <!-- Formulario -->
                  <div class="box-body">
                    
                      <!-- Filas de dos campos -->
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" ng-model="client.name" readonly>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="lastname">Apellido</label>
                            <input type="text" class="form-control" ng-model="client.lastname" readonly>
                          </div>
                        </div>
                      </div>
                  </div>
          </div>





          <!-- Form Vehiculo -->
          <div class="box box-danger" ng-show="!errorLoading">
            <!-- Overlay cargando -->
            <div class="overlay" ng-show="loading">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            
            <div class="box-header with-border">
              <h3 class="box-title">Datos de vehículo</h3>
            </div>

        <!-- form start -->
                <form name="form">
                  <div class="box-body">
                    
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="name">Marca <small class="small-red">(requerido)</small></label>
                            <input type="text" class="form-control" id="brand" name="brand" ng-model="vehicle.brand" 
                                ng-minLength="2" ng-maxLength="15" maxLength="15" required>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="lastname">Modelo <small class="small-red">(requerido)</small></label>
                            <input type="text" class="form-control" id="model" name="model" ng-model="vehicle.model"
                                ng-minLength="2" ng-maxLength="15" maxLength="15" required>
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="lastname">Patente <small class="small-red">(requerido)</small></label>
                            <input type="text" class="form-control" id="plate" name="plate" ng-model="vehicle.plate"
                                  ng-maxLength="7" maxLength="7" required capitalize>
                          </div>
                        </div>
                      </div>
                    
                    <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="name">Año</label>
                            <input type="number" class="form-control" id="year" name="year" ng-model="vehicle.year">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="lastname">Motorización</label>
                            <input type="text" class="form-control" id="engine" name="engine" ng-model="vehicle.engine"
                                  ng-maxLength="15" maxLength="15">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="lastname">Número de chásis</label>
                            <input type="text" class="form-control" id="vin" name="vin" ng-model="vehicle.vin"
                                ng-maxLength="17" maxLength="17">
                          </div>
                        </div>
                      </div>

                  </div><!-- /.box-body -->

                  <div class="box-footer" style="text-align:center;">

                    <button ng-click="add(0)" ng-disabled="form.$invalid" class="btn btn-success" style="margin: 2.5px 5px;">
                      Agregar
                    </button>
                    <button ng-click="add(1)" ng-disabled="form.$invalid" class="btn btn-info" style="margin: 2.5px 5px;">
                      Agregar y crear órden
                    </button>
                  </div>

          </div><!-- /.box -->


          <div class="callout callout-danger lead" ng-show="error">
            <h4>Error!</h4>
            <p style="font-size: 16px;" ng-repeat="er in errors">
                - {{er.error}} <br>
            </p>
          </div>

          <div class="callout callout-success lead" ng-show="success">
            <h4>Éxito!</h4>
            <p style="font-size: 16px;">
              Se ha agregado el vehículo a la base de datos
            </p>
          </div>

        </section><!-- /.content -->