        <!-- Header de contenido -->
        <section class="content-header">
          <h1>
            Buscar vehículos
          </h1>
        </section>

        <!-- Contenido -->
        <section class="content">
          <!-- Caja de búsqueda -->
          <div class="box box-danger">
            
            <!-- Titulo -->
            <div class="box-header with-border">
              <h3 class="box-title">Búsqueda</h3>
            </div>
            <!-- Formulario de búsqueda -->
            <div class="box-body">            
              <form name="form">        
                <div class="input-group margin">
                  <input type="text" class="form-control" id="search" name="search" ng-model="search" placeholder="Buscar por marca, modelo, patente y número de vehículo..." max-length="20" ng-maxLength="20" required>
                  <div class="input-group-btn">
                    <button ng-click="searchVehicle()" ng-disabled="form.$invalid" class="btn btn-danger">Buscar!</button>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <!-- Resultados de búsqueda-->
          <div class="box box-danger" ng-show="searched">
            <!-- Overlay cargando. Sólo mostrar cuando loading = true -->
            <div class="overlay" ng-show="loading">
              <i class="fa fa-refresh fa-spin"></i>
            </div>

            <!-- Titulo -->
            <div class="box-header with-border">
              <h3 class="box-title">Resultados</h3>
              
              <!-- Filtro -->
              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" ng-model="filtro" placeholder="Filtrar resultados">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </div>
            </div>

            <div class="box-body table-responsive no-padding">      
              <table class="table table-hover">
                <tr>
                  <th style="width: 5%">#</th>
                  <th style="width: 15%">Marca</th>
                  <th style="width: 15%">Modelo</th>
                  <th style="width: 15%">Patente</th>
                  <th style="width: 30%">Cliente</th>
                  <th style="width: 30%"></th>
                </tr>

                <tr ng-repeat="vehicle in filteredVehicles = (vehicles | filter:filtro) track by $index" ng-show="!loading && !error">
                  <td>{{vehicle.id}}</td>
                  <td>{{vehicle.brand}}</td>
                  <td>{{vehicle.model}}</td>
                  <td>{{vehicle.plate}}</td>
                  <td>{{vehicle.name}} {{vehicle.lastname}}</td>
                  <td style="text-align: right;">
                    <a href="#vehiculo/ver/{{vehicle.id}}" class="btn btn-sm btn-info">Ver</a>
                    <a href="#orden/nuevo/{{vehicle.id}}" class="btn btn-sm btn-success">Agregar orden</a>
                  </td>
                </tr>

                <!-- Mensaje de no hay vehiculos. Mostrar si no hay vehicles o filteredVehicles, no está cargando y no hay error  -->
                <tr>
                  <td colspan="6" style="text-align: center" ng-show="(!vehicles.length || !filteredVehicles.length) && !loading && !error">
                        No se han encontrado resultados
                  </td>
                </tr>

                <!-- Mensaje de error. Mostrar si hubo error y no está cargando -->
                <tr>
                  <td colspan="6" style="text-align: center;" ng-show="error && !loading">{{errorResponse}}</td>
                </tr>

              </table>
            </div>
          
        </section><!-- /.content -->