        <!-- Header de contenido -->
        <section class="content-header">
          <h1>
            Alta de Proveedor
          </h1>
        </section>

        <!-- Contenido -->
        <section class="content">
          <!-- Caja -->
          <div class="box box-danger">
            <!-- Overlay cargando -->
            <div class="overlay" ng-show="loading">
              <i class="fa fa-refresh fa-spin"></i>
            </div>          
            <!-- Titulo -->
            <div class="box-header with-border">
              <h3 class="box-title">Datos de proveedor</h3>
            </div>

                <!-- Formulario -->
                <form name="form">
                  <div class="box-body">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}">
                      <!-- Filas de dos campos -->
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="name">Razón Social <small class="small-red">(requerido)</small></label>
                            <input type="text" class="form-control" id="razon" name="razon" ng-model="supplier.razon" required>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="address">Dirección</label>
                            <input type="text" class="form-control" id="adress" name="adress" ng-model="supplier.adress">
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label for="telephone">Teléfono</label>
                            <input type="text" class="form-control" id="telephone" name="telephone" ng-model="supplier.telephone">
                          </div>
                        </div>                      
                      </div>

                      <div class="row">
                        <div class="col-lg-7">
                          <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="text" class="form-control" id="email" name="email" ng-model="supplier.email">
                          </div>
                        </div>
                        <div class="col-lg-5">
                          <div class="form-group">
                            <label for="cuit">Responsable</label>
                            <input type="text" class="form-control" id="responsible" name="responsible" ng-model="supplier.responsible">
                          </div>
                        </div>
                      </div>

                  </div><!-- /.box-body -->

                  <div class="box-footer" style="text-align:center;">
                    <button ng-click="add(1)" ng-disabled="form.$invalid" class="btn btn-success" style="margin: 2.5px 5px;">
                      Agregar
                    </button>
                  </div>
            </form>
          </div><!-- /.box -->

  <div class="callout callout-danger lead" ng-show="error">
    <h4>Error!</h4>
    <p style="font-size: 16px;">
      {{status}}
    </p>
  </div>

  <div class="callout callout-success lead" ng-show="success">
    <h4>Éxito!</h4>
    <p style="font-size: 16px;">
      Se ha agregado el proveedor a la base de datos
    </p>
  </div>

        </section><!-- /.content -->